.panel {
  background: $white-alpha;
  border-radius: 4px;
  margin: 0;
  min-height: 20px;
  padding: 19px;

  .icon {
    color: $tan;
    vertical-align: middle;
  }

  &--loud {
    color: $red;
    font-size: $medium-font-size;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 10px;
    text-align: center;
  }

  &--brand {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("/images/plane.jpg");
    background-position: center;
    background-size: cover;
    color: $text-color;
    font-family: $fancy-font-family;
    font-size: $medium-font-size;
    padding-top: 20px;
    padding-bottom: 250px;

    .norseman-plane {
      display: none;
    }

    p.boom {
      font-style: italic;
      margin-bottom: 21rem;
    }
  }
}

@include media-query($breakpoint-md) {
  .panel {
    background: transparent;
    border: none;
    padding: 0;

    &--loud {
      margin: 0;
      border: 1px solid $red;
    }

    &--brand {
      background: $white-alpha;
      padding-top: 0;
      padding-bottom: 20px;

      p.boom {
        margin-bottom: 0;
      }

      .norseman-plane {
        display: block;
        background: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
          ),
          url("/images/plane-square.jpg");
        background-position: center;
        background-size: cover;
        height: 200px;
        padding-bottom: 10px;
      }
    }
  }

  .separator {
    display: none;
  }
}
