@charset "utf-8";

// Our variables
$base-font-family: Helvetica, sans-serif;
$alt-font-family: Garamond, serif;
$fancy-font-family: "Lato", sans-serif;
$base-font-size: 1rem;
$base-font-weight: 300;
$small-font-size: $base-font-size * 0.875;
$small-medium-font-size: $base-font-size * 1.075;
$medium-font-size: $base-font-size * 1.25;
$large-font-size: $base-font-size * 1.5;
$xlarge-font-size: $base-font-size * 1.75;
$xxlarge-font-size: $base-font-size * 2;
$base-line-height: 1.5;

$spacing-unit: 30px;

$red: #452927;
$red-bright: #782724;
$green: #304f2c;
$blue: #385878;
$black: #262324;
$yellow: #f0be4d;
$alpha-light: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
$alpha: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
$alpha-dark: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
$tan: #73784f;
$grey: #828282;
$white: #fdfdfd;

$white-alpha: rgba(255, 255, 255, 0.85);
$white-alpha-light: rgba(255, 255, 255, 0.5);
$red-alpha: rgba(69, 41, 39, 0.8);

$text-color: $black;
$background-color: $white;
$brand-color: $red;

$grey-light: lighten($grey, 40%);
$grey-dark: darken($grey, 25%);

// Width of the content area
$content-width: 1000px;

$breakpoint-sm: 575.98px;
$breakpoint-md: 767.98px; // formerly on-palm
$breakpoint-lg: 991.98px; // formerly on-laptop
$breakpoint-xl: 1199.98px;

// Use media queries like this:
// @include media-query($breakpoint-md) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
