.logo {
  display: flex;
  align-items: center;

  &__img {
    height: 70px;
  }

  &__text {
    font-size: 34px;
    font-family: $fancy-font-family;
    color: $white;
    position: relative;
    margin-left: 0.5rem;

    > * {
      line-height: 1;
    }

    &--smaller {
      font-size: smaller;
    }
  }
}

a.logo {
  &:hover,
  &hover:active {
    color: $white;
    text-decoration: none;
  }
}

// .logo {
//   display: inline-block;

//   a {
//     font-family: $fancy-font-family;
//     margin-top: 8px;
//     color: $white;
//     position: relative;

//     h1,
//     img {
//       display: inline-block;
//     }

//     h1 {
//       font-size: 36px;
//     }
//     img {
//       vertical-align: top;
//       margin-top: 5px;
//       height: 80px;
//     }

//     span {
//       display: block;
//     }

//     span:first-child {
//       position: relative;
//       top: 3px;
//     }
//     @include media-query($on-palm) {
//       h1 {
//         font-size: 26px;
//       }
//       img {
//         height: 50px;
//       }

//       span {
//         line-height: 2.7rem;
//       }
//     }
//   }
// }
