.logo {
  display: flex;
  align-items: center;
  min-width: 337px;

  &__img {
    height: 70px;
  }

  &__text {
    font-size: 34px;
    font-family: $fancy-font-family;
    color: $white;
    position: relative;
    margin-left: 0.5rem;
    text-align: left;

    > * {
      line-height: 1;
    }

    &--smaller {
      font-size: smaller;
    }
  }
}

@include media-query($breakpoint-md) {
  .logo {
    min-width: 255px;

    &__text {
      font-size: 26px;
    }
    &__img {
      height: 50px;
    }
  }
}

a.logo {
  &:hover,
  &hover:active {
    color: $white;
    text-decoration: none;
  }
}
