.wrapper {
  background: $tan;
  background: linear-gradient(rgba(11, 26, 9, 0.65), rgba(11, 26, 9, 0.65)),
    url("/images/wooded-trail.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  min-height: calc(100vh - 50px);
}

.site-content {
  background: transparent;
  margin: 3rem 4rem;
  display: grid;
  grid-template-columns: auto 300px;
  grid-gap: 100px;

  &__wrapper {
    display: block;
  }
}

@include media-query($breakpoint-md) {
  .wrapper {
    background: $tan;
  }

  .site-content {
    background: $white-alpha;
  }
}
