.site-header {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: end;
  border-top: 5px solid $grey-dark;
  border-bottom: 1px solid $grey-light;
  padding: 0.5rem;
  // Positioning context for the mobile navigation icon
  position: relative;
  color: $white;
  background: transparent;

  &__cta {
    a {
      color: $white;
    }
  }
}
