.site-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  border-top: 5px solid $grey-dark;
  border-bottom: 1px solid $grey-light;
  padding-left: 10px;
  padding-right: 10px;
  // Positioning context for the mobile navigation icon
  position: relative;
  color: $white;
  background: transparent;

  .phone-link {
    color: $white;
  }
}
