.site-header {
  display: grid;
  grid-template-columns: auto 30%;
  align-items: end;
  border-top: 5px solid $grey-dark;
  border-bottom: 1px solid $grey-light;
  padding: 0.5rem 1.5rem;
  color: $white;
  background: transparent;

  &__cta {
    font-size: 1.25rem;
    a {
      color: $white;
    }
  }
}
