/**
 * Site footer
 */
.footer {
  color: $white;
  background-color: $tan;
  border-top: 1px solid $grey-light;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 2rem;

    &__description {
      max-width: 30rem;
      margin-left: 1rem;
    }
  }

  &__legal {
    background: $alpha-dark;
    font-size: smaller;
    text-align: center;
    padding: 1rem;
  }
}

.footer-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@include media-query($breakpoint-md) {
  .footer {
    flex-direction: column;
    text-align: center;

    .logo {
      margin-bottom: 1rem;
    }
  }
}
